body{
    background-color: white;
}

.navBar{
    background-color: lavender;
    height: 85%;
    width: 15%;
    position: fixed;
    padding: 0;
    top: 75px;
}

.title{
    background-color: mediumspringgreen;
    text-align: center;
    padding: 15px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    margin-top: 0;
}

.info{
    background-color: lavender;
    position: fixed;
    text-align: center;
    padding: 15px;
    left: 17%;
    top: 75px;
    width: 79%;
    margin: 0px;
    color: black;
}

.question1{
    color: black;
    position: absolute;
    top: 125px;
    left: 17%;
}

.buttons{
    position: absolute;
    top: 175px;
    left: 17%;
    text-align: center;
}

.btnGroup{
    background-color: lavender;
    padding: 10px;
}

.btnGroup:hover{
    background-color: white;
}

.coolOptions{
    position: absolute;
    top: 225px;
    left: 17%;
}


