body{
    background-color: white;
}

.navBar{
    background-color: lavender;
    display: flex;
    flex-direction: column; 
    width: 15%;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: 'Asap', sans-serif;
}

.title{
    background-color: mediumspringgreen;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    font-family: 'Anton', sans-serif;
}

.info{
    background-color: rgba(245, 225, 40, .5);
    font-family: 'Asap', sans-serif;
    font-size: 2vh;
    text-align: center;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 175px;
    left: 17%;
    text-align: center;
    align-content: center;
}

.btnGroup{
  background-color: rgba(233, 157, 197, .5);
  padding: 10px;
  height: 8vh;
  width: 12vw;
  margin: 8px;
  font-family: 'Anton', sans-serif;
  font-size: 2vh;
}

.btnGroup:hover{
    background-color: rgba(137, 178, 248, .5);
}

.coolOptions{
    top: 380px;
    left: 400px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    font-family: 'Asap', sans-serif;
    font-size: 2vh;
}

.img{
  padding-left: 20px;
}
